.maindiv ul{
  display: flex;
    justify-content: center;
    list-style: none;
}

.maindiv ul li{
      padding: 10px 23px;
}

.heading{
  text-align: center;
}

.description{
  font-weight: bold;
}

.blogItem{
  margin: 50px;
  text-align: center;
}

